
$dark-grey: #222831;
$grey: #393E46;
$grey-2: #35383F;
$light-grey: #EEEEEE;
$light-grey-2: #DEDEDE;
$yellow: #FFD369;

:export {
    dark-grey: $dark-grey;
    grey: $grey;
    grey-2: $grey-2;
    light-grey: $light-grey;
    light-grey-2: $light-grey-2;
    yellow: $yellow;
}

[data-theme='light'] {
    --background: #{$light-grey};
    --comp-bg-1: #{$light-grey-2};
    --comp-bg-2: #{$grey-2};
    --accent: #{$yellow};
    --text-primary: #{$dark-grey};
    --text-secondary: #{$grey-2};
}

[data-theme='dark'] {
    --background: #{$dark-grey};
    --comp-bg-1: #{$grey};
    --comp-bg-2: #{$grey-2};
    --accent: #{$yellow};
    --text-primary: #{$light-grey};
    --text-secondary: #{$light-grey-2};
}